<form action="//audio.us11.list-manage.com/subscribe/post?u=bf67bc7e17e3447a2af9c2338&amp;id=3534ccace9"
  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
  class="validate" target="_blank" novalidate>
  <input type="email" value="" name="EMAIL" class="email"
    placeholder="ベータに参加。Join the beta." required style="width: 14em;">
  <div style="position: absolute; left: -5000px;" aria-hidden="true">
    <input type="text" name="b_bf67bc7e17e3447a2af9c2338_3534ccace9"
      tabindex="-1" value="">
  </div>
  <input type="submit" value="Subscribe" name="subscribe">
</form>
