/**
 * tools & objects
 */

/**
 * t-visuallyhidden
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.t-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.t-visuallyhidden.focusable:active,
.t-visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * typography
 * ========================================================================== */

/* Weights */
.t-Light { font-weight: 300; }
.t-Regular { font-weight: 400; }
.t-Bold { font-weight: 700; }
.t-Black { font-weight: 900; }

/* Variants */
.t-Italic { font-style: italic; }
.t-Title {
  text-shadow: 0.25em 0.25em 1em rgba(0,0,0,0.25);
  color: #FDF9F0;
  font-weight: 900;
  font-size: 7vw;
}

/*
 * layout
 * ========================================================================== */
.t-VCenter {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.t-VCenter-Child {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}
